@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* components */
@import "./components/top-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/friend-component.css";
@import "./components/badge.css";

/* screens */
@import "./screens/login.css";
@import "./screens/friends.css";
@import "./screens/more.css";

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--background-black);
}

.main-screen {
  margin-left: 70px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
