body {
  background-image: url(../../images/star-bg.svg);
  background-color: var(--main-black);
  display: flex;
  justify-content: center;
}

.welcome {
  background-color: rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 350px;
  padding: 25px 25px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.welcome-header__title {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.welcome-header__text {
  color: white;
  opacity: 0.7;
  margin-top: 8px;
  font-size: 17px;
  font-weight: 200;
}

.login-form,
.login-form__id,
.login-form__password {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 200;
}

.login-form input {
  height: 35px;
  margin: 6px 0px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.login-form input[type="submit"] {
  background-color: var(--main-purple);
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  transition: background-color 0.2s ease-out;
}

.login-form input[type="submit"]:hover {
  background-color: var(--deep-purple);
}

.login-form__id,
.login-form__password {
  margin-bottom: 15px;
}

.login-form__password span:last-child,
.login-form__join span:last-child {
  color: #3da2da;
  font-weight: 600;
}

.login-form__password span:last-child:hover,
.login-form__join span:last-child:hover {
  cursor: pointer;
  text-decoration: underline;
}

.login-form__join span:first-child {
  color: rgba(255, 255, 255, 0.3);
}
