#media-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/star-bg.svg);
  background-color: var(--main-black);
  position: absolute;
  top: 0px;
  z-index: 200;
}

.media-screen__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 500px;
  height: 200px;
  border-radius: 20px;
}

.media-screen__info h1 {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.media-screen__info h2 {
  font-size: 18px;
  color: var(--letter-grey);
  margin-top: 20px;
}

.media-screen__info h2 span {
  color: white;
}

@media screen and (max-width: 700px) {
  #media-screen {
    display: none;
  }
}
