.user-component {
  justify-content: space-between;
  padding-bottom: 20px;
}

.user-component:hover:not(.own-component) {
  background-color: var(--middle-black);
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background-color: aqua; */
  padding-right: 10px;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-right: 15px;
}

.user-component__avatar--xl {
  width: 70px;
  height: 70px;
  border-radius: 25px;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.user-component__subtitle {
  color: var(--letter-grey);
  margin-top: 8px;
  font-size: 14px;
}

.user-component__subtitle > span {
  color: white;
}

.user-component__time {
  font-size: 14px;
  color: var(--letter-grey);
  margin-bottom: 7px;
}
